build_*/
benchmark/test_bytes.h
benchmark/rlbox
benchmark/rlbox_wasm2c_sandbox
benchmark/wasm2c_sandbox_compiler
benchmark/generate_test_out
benchmark/test_out.jpeg

benchmark/gen_bytes
benchmark/new_grpc/client
benchmark/new_grpc/server
benchmark/new_grpc/ipc/*
benchmark/new_grpc/image_change_quality_grpc_client
benchmark/new_grpc/image_change_quality_grpc_server
benchmark/new_grpc/test_bytes.h